.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.refresh{
  display:inline-block;
  color:red;
  width:200px;
  background-color: white;
  padding: 20px;
  border-radius: 80px;
  text-decoration: none;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #59CE8F;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #FFFFFF;
  font-size: 8rem;
  color: #FF1E00;
}

p {
  font-size: 2rem;
  color: black;
  font-weight: 900;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
